main {
    margin: 0;
    padding: 0;
}

#firstsection {
    height: 100%;
    background-image: url(Pictures/team1.jpg);
    background-position: 10%;
    background-repeat: no-repeat;
}
#firstsection h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    font-size: 7.0em;
    font-family: "Brush Script MT",cursive;
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 30%
}

#secondsection {
    width: 100%;
    background-color: #505050;
}

section article div h1 {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
    color: white;
    font-size: 1.5em;
}

article div p {
    padding-top: 10%;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-size: 0.7em;
    color: white;
}